.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll

extras/*

!extras/replicationCodes/
!extras/replicationCodes/*
!extras/MGSP-functions.cpp
!extras/automatic_RockovaGeorge.R
!extras/AutomaticSparsity.R
